
<form [formGroup]="registrationForm">
    <h2 class="text-align-center">Registration</h2>
    <div class="app-plate">
        <div class="registration-form">
            <div>
                <div class="form__control">
                    <label for="name">Name</label>
                    <!--Use the name `name` for the form control.-->
                    <input type="text" id="name" placeholder="Input text" formControlName="name" />
                    <span id="nameErrorMessage" class="text-danger" *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched && registrationForm.get('name')?.errors?.['required']">Name is required.</span>
                    <span class="text-danger" *ngIf="registrationForm.get('name')?.errors?.['minlength']">Name is required.</span>
                </div>
                <div class="form__control">
                    <!--Use the name `email` for the form control.-->
                    <label for="email">Email</label>
                    <input type="text" id="emailId" placeholder="Input text" formControlName="email" required emailValidator />
                    <span id="emailErrorMessage" class="text-danger" *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['required']">Email is required.</span>
                </div>
                <div class="form__control">
                    <!--Use the name `password` for the form control.-->
                    <label for="password">Password</label>
                    <input type="password" id="passwordId" placeholder="Input text" formControlName="password" />
                    <span id="passwordErrorMessage" class="text-danger" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']">Password is required.</span>
                </div>
            </div>
            <div class="form__action">
                <app-button [buttonText]="login" [ngClass]="{'disabled':!registrationForm.valid}" (click)="onSubmit(registrationForm)"></app-button>
            </div>
        </div>
    </div>
</form>
