<div class="course-card" *ngFor="let item of mockedCoursesList1">
    <div class="course-card__description">
        <!-- Replace ::text:: with your code -->
        <div class="course-card__description-title">{{item.title}}</div>
        <div class="course-card__description-text">{{item.description}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
                <b>Authors: </b>
                {{item.authors}}
            </div>
            <div><b>Duration: </b><span class="course-card__duration">{{item.duration}}</span></div>
            <div><b>Created: </b><span class="course-card__date">{{item.creationDate}}</span></div>
        </div>
        <div class="course-card__info-actions">
            <app-button [buttonText]="showCourse" (click)="showCourseDetails(item)" [iconName]="icons" [iconName]="iconsEdit" [editableFlag]="editable"></app-button>
            <div class="course-card__buttons">
                <!--Enter your code here-->
            </div>
        </div>
    </div>
</div>
